@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-modal .ant-modal-footer .ant-btn-primary {
  background-color: #1890ff; 
  border-color: #1890ff;
  color: #fff;
}

.custom-modal .ant-modal-footer .ant-btn-primary:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}